@font-face {
  font-family: 'Epilogue';
  font-display: swap;
  src: url(../../assets/fonts/Epilogue-VariableFont_wght.woff2);
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-display: swap;
  src: url(../../assets/fonts/IBMPlexSans-VariableFont_wdth\,wght.woff2);
}
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url(../../assets/fonts/Roboto-VariableFont_wdth\,wght.woff2);
}
