footer {
  font-size: 16px;
  margin: 0 auto;
}
.footer-nav-div {
  margin: 48px 0;
  font-weight: 600;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 32px;
}
.footer-nav-item {
  padding-bottom: 32px;
}
.footer-nav-item:last-child {
  padding-bottom: 0;
}
.footer-soc-div {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  min-width: 280px;
}
.footer-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.footer-copyright {
  padding-bottom: 12px;
}
@media (hover: hover) {
  .footer-nav-link:hover {
    transition: var(--transition);
    color: var(--btn-background);
  }
  .footer-soc-icon:hover {
    transition: var(--transition);
    fill: var(--btn-background);
  }
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    width: 116px;
    height: 45px;
  }
  .footer-nav-div {
    margin: 80px 0;
    text-align: center;
  }
  .footer-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .footer-nav-item {
    padding-bottom: 0px;
  }
  .footer-soc-div {
    display: flex;
    min-width: 704px;
    margin-bottom: 80px;
    padding-top: 32px;
    flex-direction: row-reverse;
  }
  .footer-soc-list {
    margin: 0;
    gap: 24px;
  }
  .footer-soc-icon {
    width: 32px;
    height: 32px;
  }
  .footer-copyright {
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-soc-div {
    min-width: 1312px;
  }
  .footer-soc-icon {
    width: 24px;
    height: 24px;
  }
}
