/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./base/fonts.css');
@import url('./base/reset.css');
@import url('./base/base.css');
@import url('./base/container.css');

/* Sections style */
@import url('./header.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./arists.css');
@import url('./about-us.css');
@import url('./feedbacks.css');
@import url('./modal-feedback.css');
@import url('./modal-artist.css');
